der,header {
    border:1px solid grey;margin:0px;margin-bottom:15px;padding:20px;background-color:white;
}
header,footer {
    color:white;background-color:#444;margin-bottom:5px;
}
section {
    background-color:#ddd;
}
body {
    padding:5px;
}
